@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffff;
    --background-start-rgb: #ffff;
    --background-end-rgb: 0, 0, 0;
    --background-primary:#633CFF;
    --foreground-button: #633CFF;
    --button-hover: #BEADFF;
    --input-focus: #633CFF;
    --input-error: #FF3939;
  }
}

body {
  font-family: "Instrument Sans", sans-serif;

}

.scrollbar-phone {
  &::-webkit-scrollbar {
    display: none;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
 
}